section.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


section.row div.kiv {
    border: solid thin lightgray;
    padding: 10px;
    margin: 10px;
    background-color: rgb(96, 127, 134);
    border-radius: 7px;
    width: 100%;
}

section.row div.kiv:hover {
    /* border: 4px solid white;
    transition: 1.5sec; */
    box-shadow: -2px 0 15px #000000;

}

.product {
    width: 100%;
}
.product img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.data {
    text-align: center;
}

.product-name {
    font-size: 28px;
    color: white;
}
@media screen and (max-width: 800px) {
    section.row {
        flex-wrap: wrap;
    }

    section.row div.kiv {
        width: 30%;
    }
}
@media screen and (max-width: 600px) {
    section.row {
        flex-wrap: wrap;
    }

    section.row div.kiv {
        width: 100%;
    }
}



